.container {
  display: flex;
}
.list {
  margin: 0;
  padding: 0 30px;
  width: 400px;
  list-style: none;
}
.post {
  cursor: pointer;
  height: 40px;
  padding: 0 5px;
  border: 1px solid rgb(192, 192, 192);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.post p {
  margin: 0;
}
.pagination {
  margin: 0;
  cursor: pointer;
  width: 400px;
  padding: 0 30px;
  list-style: none;
  display: flex;
}
.page-item {
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(192, 192, 192);
  align-items: center;
}
.page-link {
  color: rgb(192, 192, 192);
  margin: 0 auto;
  text-decoration: none;
}
.active {
  color: black;
}
.activeQuote {
  background-color: rgb(196, 247, 200);
}
/* Description ------------------------------------ */
.postTitle {
  text-transform: capitalize;
}
.postBody {
  font-style: italic;
}
/* button --------------------------------- */
.buttonSection {
  display: flex;
  justify-content: space-evenly;
}
.button_desc {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
}
.favorites {
  background-color: rgb(196, 247, 200);
}
.remove_favorites {
  background-color: rgb(255, 227, 233);
}
/* button pagination--------------------------------- */
.pagination_button {
  cursor: pointer;
  margin-right: 5px;
  width: 26px;
  padding: 5px;
  border: 1px solid rgb(155, 154, 154);
  border-radius: 20px;
  display: inline-flex;
  justify-content: center;
}
.paginationSettings {
  padding: 20px 30px;
}
